<div class="hero">
    <h1><%= data.D("app-title") %></h1>
    <h3><%= data.D("app-subtitle") %></h3>
</div>

<div class="scrollable">
<h3><%= data.D("tou-title") %></h3>
<p><%= data.D("tou1") %></p>
<p><%= data.D("tou2") %></p>
<p><%= data.D("tou3") %></p>
<p><%= data.D("tou4") %></p>

<h3><%= data.D("disclaimer-title") %></h3>
<p><%= data.D("disclaimer") %></p>

<h3><%= data.D("external-sites-title") %></h3>
<p><%= data.D("external-sites") %></p>

<h3><%= data.D("copyright-title") %></h3>
<p><%= data.D("copyright") %></p>

<h3><%= data.D("communications-title") %></h3>
<p><%= data.D("communications") %></p>

<h3><%= data.D("misc-disc-title") %></h3>
<p><%= data.D("misc-disc") %></p>
</div>
<a href="#" class="btn btn-large btn-success accept"><%= data.D("i-accept") %></a>