<h1>
    <%= data.property.full_address %>
    <% if($.trim(data.property.unit)) { %>
        <span class="unit">Unit: <%= data.property.unit.replace(/^0+/, "") %></span>
    <% } %>
    <small>Account # <%= data.property.account_number %></small>
</h1>
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#account/<%= data.property.account_number %>">Assessment</a></li>
        <li><a href="#account/<%= data.property.account_number %>/loop">LOOP Tax</a></li>
    </ul>
</div>
<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-book"></i>
                <h3>Account Information</h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="span3">
                        <ul class="nav nav-list">
                            <li class="nav-header">Owner<%= data.property.ownership.length > 1 ? "s" : "" %></li>
                            <li>
                                <% _.each(data.property.ownership.owners, function(owner) { %>
                                    <%= owner %><br>
                                <% }); %>
                            </li>
                            <li class="nav-header">Mailing Address</li>
                            <li>
                                <% if(data.property.ownership.liaison) { %>
                                    <%= data.property.ownership.liaison %><br>
                                <% } %>
                                <% var addr = data.property.ownership.mailing_address || {} %>
                                <address><%= [addr.street, [addr.city, addr.state].join(" "), addr.zip].join("<br>") %></address>
                            </li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Property Unit</li>
                            <li><%= data.property.unit ? data.property.unit.replace(/^0+/, "") : "None" %></li>
                            <li class="nav-header">Property Zip</li>
                            <li><%= data.property.zip %>
                            <li class="nav-header">Sale Date</li>
                            <li><%= data.util.friendlyDate(data.property.sales_information.sales_date) %></li>
                            <li class="nav-header">Sale Price</li>
                            <li>$<%= data.util.formatNumber(data.property.sales_information.sales_price || 0) %></li>
                            <li class="nav-header">Homestead</li>
                            <li><%= data.property.characteristics.homestead ? "Yes" : "No" %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-home"></i>
                <h3>Property Characteristics</h3>
            </div>
            <div class="widget-content">
                <div class="row">
                    <div class="span3">
                        <ul class="nav nav-list">
                            <li class="nav-header">Land Area</li>
                            <li><%= data.util.formatNumber(data.property.characteristics.land_area || 0) %> SqFt</li>
                            <li class="nav-header">Improvement Area</li>
                            <li><%= data.util.formatNumber(data.property.characteristics.improvement_area || 0) %> SqFt</li>
                            <li class="nav-header">Improvement Description</li>
                            <li><%= data.property.characteristics.description %></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Beginning Point</li>
                            <li><%= data.property.characteristics.beginning_point %></li>
                            <li class="nav-header">Exterior Condition</li>
                            <li><%= data.property.characteristics.exterior_condition %></li>
                            <li class="nav-header">Zoning</li>
                            <li>
                                <%= data.property.characteristics.zoning %>
                                <%= data.property.characteristics.zoning_description %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% var proposed_available = data.property.proposed_valuation !== undefined &&  ! _.isEmpty(data.property.proposed_valuation); %>
<div class="row">
    <div class="span12">
        <div class="widget<% if(proposed_available) { %> widget-table<% } %>">
            <div class="widget-header">
                <i class="icon-th-large"></i>
                <h3>Proposed Valuation</h3>
            </div>
            <div class="widget-content<% if(proposed_available) { %> flipper<% } %>">
                <% if(proposed_available) { %>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Market Value</th>
                            <th>Assessed Land (Taxable)</th>
                            <th>Assessed Improvement (Taxable)</th>
                            <th>Assessed Land (Exempt)</th>
                            <th>Assessed Improvement (Exempt)</th>
                            <th>Total Assessment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= data.property.proposed_valuation.certification_year %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.market_value) %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.land_taxable) %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.improvement_taxable) %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.land_exempt) %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.improvement_exempt) %></td>
                            <td>$<%= data.util.formatNumber(data.property.proposed_valuation.land_taxable + data.property.proposed_valuation.improvement_taxable) %></td>
                        </tr>
                    </tbody>
                </table>
                <% } else { %>
                Proposed values not available yet
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="widget widget-table">
            <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>Certified Valuation History</h3>
            </div>
            <div class="widget-content flipper">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Market Value</th>
                            <th>Assessed Land (Taxable)</th>
                            <th>Assessed Improvement (Taxable)</th>
                            <th>Assessed Land (Exempt)</th>
                            <th>Assessed Improvement (Exempt)</th>
                            <th>Total Assessment</th>
                        </tr>
                    </thead>
                    <tbody>
                <% _.each(data.property.valuation_history, function(valuation) { %>
                        <tr>
                            <td><%= valuation.certification_year %></td>
                            <td>$<%= data.util.formatNumber(valuation.market_value) %></td>
                            <td>$<%= data.util.formatNumber(valuation.land_taxable) %></td>
                            <td>$<%= data.util.formatNumber(valuation.improvement_taxable) %></td>
                            <td>$<%= data.util.formatNumber(valuation.land_exempt) %></td>
                            <td>$<%= data.util.formatNumber(valuation.improvement_exempt) %></td>
                            <td>$<%= data.util.formatNumber(valuation.land_taxable + valuation.improvement_taxable) %></td>
                        </tr>
                <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
Note: The Department of Revenue is responsible for collecting real estate taxes.  Please visit the <a href="http://www.phila.gov/revenue" target="_blank">Department of Revenue Website</a> for information regarding the billing, collecting and accounting of real estate taxes or call 215-686-6442.
<br><br>
<a href="#" class="btn btn-large"><i class="icon-chevron-left"></i> New Search</a>
<a href="http://www.phila.gov/revenue/RealEstateTax/Default.aspx?txtBRTNo=<%= data.property.account_number %>" class="btn btn-large btn-info" target="_blank">View Tax Balances</a>
<a href="http://brtwebdev2:82/opa.apps/Help/CitizenMain.aspx?sch=Ctrl2&s=1&url=search&id=<%= data.property.property_id %>" class="btn btn-large btn-warning">Submit an Inquiry</a>